extends ../layout

block container
    ol.breadcrumb
        li
            a(href='/') Main page
        li.active= doc.title

    div.page-header
        h3= doc.title

    .col-sm-8
        .view-description
            - if (doc.image) 
                img(src='/img/tmp.jpg')
            - if (doc.desciption)
                |= doc.desciption
        .page-header
            h4 Actions
        a.btn.btn-primary.btn-sm.active(href='/doc/#{doc.id}/download/original') download original
        a.btn.btn-primary.btn-sm.active(href='/doc/#{doc.id}/download/translation') download translation

block side-panel
    .col-sm-4
        a.pull-right.btn.btn-success.btn-sm.active(href='/doc/#{doc.id}/translate') translate
        br
        br
        table.table
            tr
                td Owner
                td
                    a(href='/user/#{doc.user.login}') #{doc.user.username}
            tr
                td Original language
                td #{doc.languageFrom}
            tr
                td Translation language
                td #{doc.languageTo}

